html {
    scroll-behavior: smooth;
}

body {
    font-family: "Bookman Old Style", monospace;
    color: black;
}

 body {
     background-image: url('images/trees-lake.jpeg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 100% 100%;
 }

/* Middle Section */
.container-fluid {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

p.big {
    line-height: 1.8;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Card Deck */
.card-deck {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/* card deck images */
.img-fluid {
    width: 20rem;
    height: 20rem;
}

/* Contact Form */

.contact-form {
    width: 100%;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 1rem;
    border: 1rem solid #ccc;
    border-radius: 1rem;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1rem;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: black;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    width: 75%;
    border-radius: 1rem;
    background-color: #98ff98;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h3 {
    text-align: center;
}

.g-recaptcha {

}

/* footer */

footer {
    text-align: center;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    background-color: #98ff98;
    color: #000000;
}