.container-fluid{
    position: relative;
    text-align: center;
    color: green;
}

img:first-child {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



footer {
    text-align: center;
    padding: 3px;
    background-color: mediumaquamarine;
    color: white;
}