
body {
    font-family: "Bookman Old Style", monospace;
    color: black;
}

 body {
     background-image: url('images/trees-lake.jpeg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 100% 100%;
 }

/* Middle Section */
.container-fluid {
    margin-top: 3rem;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Card Deck */
.card-deck {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* Contact Form */

input[type=text], select, textarea {
    width: 100%;
    padding: 1rem;
    border: 1rem solid #ccc;
    border-radius: 3rem;
    box-sizing: border-box;
    margin-top: 2rem;
    margin-bottom: 3rem;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: black;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 1rem;
    background-color: #98ff98;
    padding: 1rem;
}

h3 {
    text-align: center;
}
/* footer */

footer {
    text-align: center;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    background-color: #98ff98;
    color: #000000;
}